:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --third-text-color: rgba(255, 255, 255, 0, 6);
  --fourth-text-color: #212121;
  --accent-text-color: #2196f3;
  --header-text-color-first: #212121;
  --header-text-color-second: #757575;
  --main-logo-color: #000000;
  --second-logo-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

/*-----------------HEADER--------------*/

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  color: var(--main-logo-color);
}

.header-logo-first {
  color: var(--second-logo-color);
}

.header-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color-first);
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color-second);
}

.header-item:hover,
.header-mail:hover,
.header-tel:hover,
.header-logo:hover {
  color: var(--accent-text-color);
}

.header-item:focus,
.header-mail:focus,
.header-tel:focus,
.header-logo:focus {
  color: var(--accent-text-color);
}
